    $black-color: #222222;
    $pink-color: #F1E4E6;
    $dark-pink-color: #F16D7F;
    $white-color: #FBFBFB;
    $middle-grey-color: #9F9F9F;
    $grey-color: #F8F8F8;
    $dark-grey-color: #5D5D5D;
    $light-grey_color: #B1B1B1;
